.subsection  {
    display: grid;
    gap: 6.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.title {
    font-size: 16px;
    font-weight: 700;
}

.cards {
    display: grid;
    gap: 13px;
}

.card {
    border-radius: 16px;
    box-shadow: 0px 6px 50px rgba(174, 174, 174, 0.31);
    color: #0a2533;
    padding: 9px;
    width: 100%;
}

.card_image_default {
    background-color: lightgray;
    border-radius: 16px;
    height: 84px;
    width: 95px;
    flex-shrink: 0;
}

.card_title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 75vh;
}

.column {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.column_middle {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
}

.dietary_details {
    display: flex;
    flex: 0 0 auto;
    gap: 3px;
    position: relative;
}

.empty_cart{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.expanded_content {
    display: grid;
    padding-top: 10px;
    gap: 4px;
}

.node {
    background-color: #f1f5f5;
    border-radius: 35px;
    display: inline-flex;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 8px;
    font-weight: 400;
}

.price {
    font-size: 10px;
    font-weight: 700;
}

.quantity {
    align-items: center;
    display: flex;
    gap: 1px;
    justify-content: space-between;
}

.row_card_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}