.checkout_button {
    flex-grow: 1;
    margin: 0;
    --background: #7862FC;
    --background-hover: #6a56de;
    --background-activated: #6a56de;
    --background-focused: #6a56de;
    --color: white;
    --transition: all 0.3s ease;
}

.bottom_button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 16px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 24px 24px 0 0;
}

.subsection  {
    display: grid;
    gap: 6.5px;
    margin-top: 10px;
    margin-bottom: 80px;
    width: 100%;
}

.title {
    font-size: 21px;
    font-weight: 700;
}