.content-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
}

.order-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category-button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10
}

.custom-input {
  --border-color: #e6ebf2;
  --border-radius: 50px;
  --border-width: 3px;
  --padding-start: 16px;
  --padding-end: 16px;
}

.custom-input {
  --color: #000000;
  --placeholder-color: #888888;
}

.custom-input ion-icon {
  color: #888888;
}

.order-card-wrapper {
  display: flex;
  flex-direction: row;
}

ion-button {
  --background: #F1F5F5;
  --background-hover: #595959;
  --background-activated: #000000;
  --background-focused: #7862FC;

  --color: rgb(1, 1, 1);

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: #7862FC;
  --padding-top: 10px;
  --padding-bottom: 10px;
}
