.container {
    padding: 16px;
}

.sectionTitle {
    font-size: 24px;
    font-weight: bold;
    color: #0A2533;
    margin-bottom: 16px;
}

.creditCard {
    background-color: #D9D5FF;
    border-radius: 16px;
    padding: 16px 0;
    margin-bottom: 20px;
}

.cardContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.cardName {
    font-size: 18px;
    font-weight: bold;
    color: #0A2533;
}

.cardLogo {
    width: 60px;
    height: auto;
}

.cardNumber {
    display: block;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #0A2533;
}

.cardExpiry {
    font-size: 14px;
    color: #0A2533;
}

.addCardButton {
    --border-radius: 16.768px;
    --border-color: var(--Brand-Secondary, #7862FC);
    --border-style: solid;
    --border-width: 1.048px;
    --background: var(--Neutral-True-White, #FFF);
    --color: var(--Brand-Secondary, #7862FC);
    margin-bottom: 30px;
}

.paymentMethodCard {
    --background: #ffffff;
    --border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 12px;
}

.paymentMethodContent {
    display: flex;
    align-items: center;
    padding: 12px;
}

.paymentMethodIcon {
    width: 48px;
    height: 48px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 12px;
}

.paymentMethodDetails {
    flex-grow: 1;
}

.paymentMethodName {
    font-size: 16px;
    font-weight: 600;
    color: #0A2533;
    display: block;
    margin-bottom: 4px;
}

.paymentMethodInfo {
    font-size: 14px;
    color: #97A2B0;
}

.paymentMethodArrow {
    width: 32px;
    height: 32px;
    background-color: #0F2930;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paymentMethodArrow ion-icon {
    color: #ffffff;
    font-size: 18px;
}

.checkout_button {
    flex-grow: 1;
    margin: 0;
    --background: #7862FC;
    --background-hover: #6a56de;
    --background-activated: #6a56de;
    --background-focused: #6a56de;
    --color: white;
    --transition: all 0.3s ease;
}

.bottom_button {
    position: fixed;
    bottom: 40;
    left: 0;
    right: 0;
    background-color: white;
    padding: 16px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 24px 24px 0 0;
}